.is-event {
  background-color: blue;
  color: white;;
  border: 1px solid white;
}

.is-duration-2 {
  border-top: 0px;
}

.is-label-side {
  border-right: 1px solid lightslategray;
}

.is-label-top {
  border-bottom: 1px solid lightslategray;
}
